.DrawerToggle {
    width: 36px;
    height: 60px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 2px;
    background-color: black;
}