.head {
    height: 60px;
}
.message {
    padding: 15px 0px;
}
.logout-btn {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
}
@media(max-width: 767px) {
    .message {
        padding: 0px;
    }
}